.infoBoxWrapper						{margin:0px 0px 10px 0px;padding:0px 0px 0px 0px;}
/* ************************************************************************************* */
.infoHeading,
.infoBoxWrapper .infoBoxHeading  			{color:#fefefe; font-size:1.16em; line-height:1.4em; font-weight:bold; text-transform:uppercase;
  											 overflow:hidden;padding:10px 0px 11px 19px;margin-bottom:0px;background:url('../images/bg-heading.png') 0px 0px repeat-x transparent;}
.infoBoxWrapper .infoBoxHeading a 			{color:#fefefe;}

.infoBoxWrapper.box3 .infoBoxHeading  		{padding:10px 0px 11px 19px;}
.infoBoxWrapper.box2 .wrapper_pic_div img{ position:absolute; left:0;}
/* ************************************************************************************* */
.infoContents,
.infoBoxWrapper .infoBoxContents 					{padding:12px 21px 12px 21px;}
.infoBoxContents .wrapper_box_content-txt 			{padding: 0px 0px 0px 0px;}

.infoBoxContents 									{font-size:1em;  line-height: 1.6em; color:#959595; overflow:hidden;}
/* ************************************************************************************* */
.infoBoxWrapper.box3								{}
.infoBoxContents.box2{ background:#2e2e2e;} 
.infoBoxWrapper.cart_box .infoBoxContents 		    {padding:20px 21px 10px 21px;}
.infoBoxWrapper.list .infoBoxContents 				{padding:0px 0px 0px 0px;}
.infoBoxWrapper.box2 .infoBoxContents 				{padding:0px 0px 1px 0px;}
.infoBoxWrapper.box3 .infoBoxContents 				{padding:10px 10px 10px 10px; background:#2e2e2e;}
.infoBoxWrapper.box11 .infoBoxContents 				{padding:10px 10px 10px 10px; background:#2e2e2e;}
.infoBoxWrapper.box2 .infoBoxHeading  { padding-bottom:10px; }
.infoBoxWrapper.box2 .infoBoxContents 				{padding:0px 0px 1px 0px;}
.infoBoxWrapper.box11 a{ color:#FFF;}
/* ************************************************************************************* */
.infoBoxWrapper.cart_box  							{}
.infoBoxWrapper.cart_box .infoBoxHeading			{}
.infoBoxWrapper.cart_box .infoBoxHeading a			{}

.infoBoxWrapper.cart_box .infoBoxContents 			{ color:#f3ac00; font-size:1em; background:#2e2e2e;}
.infoBoxWrapper.cart_box .infoBoxContents strong	{ color:#fff;}
.infoBoxWrapper.cart_box .infoBoxContents a			{ color:#b8b7b7; font-size:1em; text-decoration:none;}
.infoBoxWrapper.cart_box .infoBoxContents a:hover	{text-decoration:underline;}
.cart_box_separator									{border-bottom:1px solid #d7d7d7;padding: 0px 0px 5px 0px;}
.cart_price_box										{padding: 5px 0px 0px 0px;}
/* ************************************************************************************* */
/* ************************************************************************************* */

/* ************************************************************************************* */
/* ************************************************************************************* */
.infoBoxContents li							{padding:0px 0px 0px 0px; width:100%;position:relative;}

.infoBoxContents li, 
.infoBoxContents li a, 
.infoBoxContents li a font					{font-weight:normal; vertical-align:top;}

.infoBoxContents li a b						{font-weight:bold;}									
.infoBoxContents ul							{list-style:none;padding:0;}
.infoBoxContents .categories				{margin:0px 0px 0px 0px;}
.infoBoxContents .bestsellers				{margin:0px 0px 0px 0px;}
.infoBoxContents .information				{margin:0px 0px 0px 0px;}
.infoBoxContents .manufacturers ul			{margin:0px 0px 0px 0px;}
.infoBoxContents li a strong,
.infoBoxContents li a 						{display:inline-block; overflow:hidden;}
.infoBoxContents ul li .div  a b	{color:#f3c200;}
.infoBoxContents ul li .div  a:hover b	{color:#000000;}
.infoBoxContents ul li .div 				{padding-left:15px;}
.infoBoxContents ul li .div a{background:url('../images/marker.png') 26px 11px no-repeat transparent; padding-left:43px; color:#6e6e6e;}
.infoBoxContents ul li .div a:hover{ font-weight:normal; color:#000000;background:url('../images/marker2.png') 26px 11px no-repeat transparent; padding-left:43px;}
.infoBoxContents a						{font-size:1em;}
.infoBoxContents li 					{font-size:1em;line-height:1.2em;background:url('../images/tail-cat.png') 0px 0px repeat; vertical-align:top; overflow:hidden; margin-top:1px; }
.infoBoxContents li a					{color:#d3d1d1; text-decoration:none;
									 	 padding:8px 0px 9px 20px; display:block; line-height:1.2em;}
.infoBoxContents li a:hover				{color:#ff0000; text-decoration:none;}
.infoBoxContents li a b					{color:#f3c800; font-weight:bold;margin: -7px 0px -6px -21px;padding:  7px 0px 7px 21px;text-decoration:none; display:block;}
.infoBoxContents li a:hover b			{color:#000000;}

.category_arrow							{display:inline-block; width:17px; height:14px; top:10px; right:14px;background:url('../images/bg_list_arrow.png') 0px 3px no-repeat transparent;position:absolute; line-height:0px; font-size:0px;}

.infoBoxContents li.last_list  			{background:url('../images/tail-cat2.png') 0px 0px repeat-x transparent;}
.infoBoxContents li.last_list:hover {background:url('../images/tail-hover.gif') 0px 0px repeat-x!important;}
/* ************************************************************************************* */
.infoBoxContents .bestsellers li 			{overflow:hidden;}
.infoBoxContents .bestsellers li a 			{display:inline-block;padding:8px 0px 9px 20px;}
.infoBoxContents .bestsellers li b			{display:inline-block;padding:9px 0px 8px 0px; float:left;}
.infoBoxContents .bestsellers li a:hover 	{}
.box-padd.extra-2 .name_padd{ padding-bottom:10px!important;}
/* ************************************************************************************* */
.infoBoxContents .button_search			{width:10%;}
.infoBoxContents .text_search			{text-align:left; width:85%;}
.infoBoxContents .input					{color:#b9b9b9;margin:0px 0px 4px 0px;border:1px solid #e3e3e3;background:#fff;height:20px; width:99%; line-height:15px;}

.infoBoxContents .advserch				{padding:5px 0px 0px 0px;}
.infoBoxContents .advserch a			{color:#ff0000;text-transform:lowercase; text-decoration:underline;font-size:1em;}
.infoBoxContents .advserch a:hover		{color:#b2b2b2;text-decoration:none;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.infoBoxContents .name span a				{color:#ff0000;font-weight:bold; font-size:1em; text-decoration:none;}
.infoBoxContents .name span a:hover			{color:#ff0000; text-decoration:underline;font-weight:bold;}

.infoBoxContents SPAN.productSpecialPrice 		{color:#fff;font-size:1.68em; line-height:1.8em; font-weight:bold;}
.infoBoxContents del							{color:#f3b500; margin-top:3px; font-size:15px; margin-left:15px;}
.cart
.infoBoxContents SPAN.productSpecialPrice 		{color:#fff;}

.infoBoxContents .select					{width:100%; font-size:1em;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.infoBoxContents .name_padd							{padding:10px 10px 3px 20px;vertical-align:top; text-align:left;}
.infoBoxContents .pic_padd							{padding:0px 0px 0px 0px; text-align:center;}
.infoBoxContents .desc_padd							{padding:3px 0px 0px 20px;}
.infoBoxContents .block_padd						{padding:0px 0px 11px 0px;}
.infoBoxContents .price_padd						{padding:0px 0px 1px 20px;vertical-align:middle; text-align:left; border-bottom:0px solid #e5e5e5;}
.infoBoxContents .price_padd b						{font-size:1.1em; display:none;}
.infoBoxContents .button__padd						{padding:9px 0px 21px 20px; text-align:left; overflow:hidden; width:200px;}
.infoBoxContents .button__padd a					{display:inline-block;}

.infoBoxContents .button__padd .bg_button2-act,
.infoBoxContents .button__padd .bg_button2			{float:left;}
.infoBoxContents .button__padd .bg_button22-act,		
.infoBoxContents .button__padd .bg_button22			{float:left;} 

.infoBoxContents .stars_padd						{padding:18px 0px 33px 20px;}
/* ************************************************************************************* */
.box_icon					{display:inline-block; float:left;padding:0px 20px 0px 0px;}
.box-padd					{padding: 5px 0px 0px 0px; overflow:hidden; background:url('../images/tail-box.gif') 0px 0px repeat-x #000;}
/* ************************************************************************************* */
.spec{background:url('../images/specials.png') 0px 0px no-repeat; position:absolute; left:0; top:0; width:99px; height:99px; z-index:9999;}
.infoBoxContents.bg_box .pic_padd{ background:#FFF;}
.box-padd.padd-bottom .button__padd {
overflow:hidden;
padding:11px 0 26px 20px;
text-align:left;
width:200px;
}
.infoBoxWrapper.box6{ background:none;}
.infoBoxWrapper.box6 .infoBoxContents{ padding:0;}
.infoBoxWrapper.box7{ background:none;}
.infoBoxWrapper.box7 .infoBoxContents{ padding:0;}
.infoBoxWrapper.box7 li a{ padding-right:10px;}
.cart_price_box .productSpecialPrice{ color:#ffffff!important;}
.infoBoxWrapper.box-extra .infoBoxContents{ background:#2e2e2e;}
.infoBoxContents.box-extra1{ background:#2e2e2e; padding:10px 0 10px 10px!important;}
.infoBoxWrapper.box-extra a{ color:#FFF;}
.infoBoxContents.box-extra1 a{ color:#FFF}
