.gallery a {
	position:relative;
	color: #FF0000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	}

.gallery a:hover {
	position:relative;
	color: #FF0000;
	text-decoration: underline;
	}

















td { font-size:12px; }

.info-tabs-head {
	font:bold 18px  Arial, Helvetica, sans-serif;
	margin:20px 0;
	border-bottom:4px solid #eee;
}
#info-tabs {
	width: 670px;

	padding: 10px;
}
*html #info-tabs {
width: 670px !important;
}
.info-tabs-quickjump-head {
	float:left;
	width:670px;
}
.info-tabs-quickjump-links {
	line-height:18px;
	padding:5px 0 0 10px;
	background:#fff;
	width: 330px;
	float: left;
}
#info-tabs #nav {
	padding-top: 0px;
}
#info-tabs #content {
	border: 1px solid #ccc;
	background: #fff;
	margin: 0 auto;
	padding: 15px 15px 20px;
}
#content table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 18px;
	color: #000;
}
#content div.backtotop {
	font-size: 10px;
	text-align: right;
	background: #f4f4f4;
	padding: 0 5px;
	margin: 15px 0 25px;
}

#info-tabs div.tab_sub,
#info-tabs div.tab_sub_over {
	cursor: pointer;
}
#info-tabs div.tab_sub em {
	font: bold 13px Arial, Helvetica, sans-serif;
	color: #fff;
	font-style: normal;
	display: block;
	text-align: center;
	padding: 7px 11px 5px;
}

#info-tabs div.tab_sub {
	margin-right: 7px;
	margin-bottom: -1px;
	border-top: 1px solid #eee;
	background: #c10000;
}

#info-tabs div.tab_sub_over em {
	font: bold 13px Arial, Helvetica, sans-serif;
	color: #000;
	font-style: normal;
	display: block;
	text-align: center;
	padding: 7px 11px 5px;
	text-decoration: none;
}

#info-tabs div.tab_sub_over {
	margin-right: 7px;
	background: #e4e4e4;
	margin-bottom: -1px;
	border-top: 1px solid #eee;
}

#info-tabs div.tab_sub_selected em {
	font: bold 13px Arial, Helvetica, sans-serif;
	color: #000;
	font-style: normal;
	display: block;
	text-align: center;
	padding: 7px 11px 5px;
}

#info-tabs div.tab_sub_selected {
	margin-right: 7px;
	border: 1px solid #ccc;
	border-bottom: 0;
	background: #fff;
	position: relative;
	top: 1px;
}

#info-tabs div.shipbox {
	width: 130px;
	padding: 10px;
	height: 130px;
	text-align:center;
	display:block;
}

#info-tabs div.shiphead {
font: bold 18px Verdana, Arial, Helvetica, sans-serif;
margin: 0 0 10px 0;
}

#info-tabs div.shiptype {
font: normal 14px Verdana, Arial, Helvetica, sans-serif;
margin: 0 0 5px 0;
}

#info-tabs div.shipprice {
	font: bold 24px Verdana, Arial, Helvetica, sans-serif;
	color: #ff0000;
	padding-top: 45px;
	letter-spacing: -0.05em;
	height: 91px;
	width: 160px;
}

*html #info-tabs div.shipprice {height: 136px;}

#info-tabs div.freeship { font: bold 16px Verdana, Arial, Helvetica, sans-serif !important; }


.bb-terms p { color: #777; margin: 0; padding: 10px 10px 20px; text-align: left; font: normal 11px/15px Verdana, Arial, Helvetica, sans-serif; }
.bb-terms-sec { background-color: #777; color: #fff; font-size: 18px; font-weight: bold; padding-left:10px; line-height: 24px; margin-bottom: 10px; text-align: left; }
p.bb-terms-q { font: bold 13px Verdana, Arial, Helvetica, sans-serif; text-decoration: underline; padding-bottom: 0; }
.bb-sep { margin-top: 40px; padding-bottom: 40px; border-top: 1px solid #ccc; }


                                                                                                                        






















h1 								{padding:12px 10px 16px 19px;margin: 0px 0px 0px 0px;overflow:hidden;
   								 color:#fefefe; font-size: 1.182em; line-height:18px; font-weight:bold; text-transform:uppercase;}
h1 .smallText					{font-size:.55em;}								 
								 
h1.title_un						{}

h2								{
	font-size:1.7em;
	line-height:1.1em;
	color:#C10000;
	font-weight:normal;
	padding: 17px 0px 5px 0px;
	margin: 0px 0px 0px 0px;
}
.big h2							{padding: 0px 0px 5px 0px; color:#817a7a;}
h1 .smallText					{font-size:.775em; font-weight:normal; }								 
h2 .smallText					{font-size:.539em; color:#817a7a;}
								 
.contentPadd h3 				{margin:10px 0px 0px 0px;padding: 10px 20px 10px 20px; background:#f4f4f4;
								 font-size:1.1em;}							 
								 
h4 								{padding:7px 10px 1px 5px;  margin:20px 0px 10px 0px; overflow:hidden;
   								 font-size:1.1em; line-height:1.4em; font-weight:normal;}								 
/* ************************************************************************************* */
.show								{padding:17px 0px 0px 0px;margin:0px 0px 0px 17px; color:#FFF;}
/* ************************************************************************************* */
.prods_content 						{padding:5px 0px 8px 0px;margin: 0px 0px 0px 0px;}
.prods_content.cart,
.padding .prods_content 			{padding:0px 0px 0px 0px; overflow:hidden;}


ul.sub_categories					{list-style:none;padding: 0px 10px 0px 0px;margin:0px 0px 0px 0px; float:left; background:#FFF; width:700px;}
ul.sub_categories li 				{float:left;margin:17px 0px 0px 10px;}

.prods_content .name_padd							{padding:13px 7px 3px 20px; vertical-align:top; text-align:left;}
.prods_content .pic_padd							{padding:0px 0px 0px 0px; text-align:left;}
.prods_content.un .pic_padd							{float:left;}
.prods_content .desc_padd							{padding:0px 10px 3px 19px; text-align:left;}
.wrapper_prods.extra-1 .name_padd { padding-bottom:10px !important;}
.buttonSet.btn_position .bg_button22 .ui-button{ width:70px;}
.buttonSet.btn_position .bg_button22-act .ui-button{width:70px; }
.prods_content .listing_padd						{padding:9px 0px 9px 0px; text-align:left;}
.prods_content .price_padd							{padding:0px 10px 16px 7px;vertical-align:middle; text-align:left; border-bottom:0px solid #e5e5e5;}

.prods_content .button__padd						{padding:0px 0px 21px 20px; text-align:left; overflow:hidden;}
.prods_content .button__padd a						{display:inline-block;}
.prods_content .button__padd .bg_button2-act,
.prods_content .button__padd .bg_button2			{float:left;}
.prods_content .button__padd .bg_button22-act,		
.prods_content .button__padd .bg_button22			{float:left;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.prods_content ul									{
	margin:0px;
	padding:0px;
	overflow:hidden;
	margin: 0px 0px 0px -10px;
	padding: 0px 0px 0px 0px;
}
.prods_content li.prods_vseparator 				{display:none; background:none}

.prods_content .prods_hseparator					{float:none; height:17px; display:none;background:none}
.prods_content li.prods_hseparator				{display:block;  height:11px; border:none;background:none}
.marg-bottom									{margin: 0px 0px 0px 0px;}
/* ************************************************************************************* */
.prods_content.padding li									{float:none; margin:0px; width:auto; vertical-align:top; overflow:hidden;}
.prods_content.padding li.prods_hseparator 				{ height:17px;}
/* ************************************************************************************* */

.wrapper_prods										{padding:0px 0px 0px 0px; overflow:hidden;}

.prods_content .data_padd							{padding:0px 0px 17px 0px;vertical-align:middle; text-align:left; border-bottom:1px solid #e5e5e5;}
.prods_content .manuf_padd							{padding:0px 0px 14px 0px;vertical-align:middle; text-align:left;}
.prods_content .name2_padd							{padding:17px 10px 10px 0px; vertical-align:top; text-align:left;}
.prods_content .pic2_padd							{padding:0px 0px 0px 0px; text-align:center;}
.prods_content .desc2_padd							{padding:16px 0px 17px 0px; text-align:left;border-bottom:1px solid #e5e5e5;}
.prods_content .price2_padd							{padding:0px 0px 13px 0px;vertical-align:middle; text-align:left; border-bottom:1px solid #e5e5e5;}
.prods_content .button2__padd						{padding:0px 0px 0px 0px;margin: 17px 0px 0px 0px; text-align:left; }

/* ************************************************************************************* */
/* *************************************************************************************
.prods_content a					{color:#4c4c4c; font-weight:normal;  text-decoration:none;}
.prods_content a:hover				{color:#4c4c4c; text-decoration:underline;}
 */  
.name span a					{color:#ff0000;font-weight:bold; font-size:1em; text-decoration:none; line-height:1.416em;}
.name span a:hover				{color:#ff0000; text-decoration:underline;}

h2.name span a 					{font-weight:normal;}

.price.un b							{display:none;}
h2 b								{font-size:.6em; font-weight:normal; display:inline-block; margin-top:3px; float:left; color:#817a7a;}
.price SPAN.productSpecialPrice 	{color:#2b2b2b;font-size:1.1em; line-height:1.2em; font-weight:normal;}
.box-padd.price .price SPAN.productSpecialPrice 	{color:#fff;font-size:0.98em; line-height:1.2em; font-weight:bold; padding-left:12px;}
del									{font-size:1.05em; line-height:2.1em; font-weight:normal; display:inline-block; margin-top:3px; margin-left:20px;}

.desc							{color:#959595; font-size:1em; line-height:1.4em} 
.desc p							{text-indent:20px;padding-top: 10px;}

.cart_price   SPAN.productSpecialPrice 	{color:#000;font-size:1.7em; line-height:2.0em; font-weight:normal;}
.cart_total	  .productSpecialPrice 		{color:#000;font-size:1.7em; line-height:2.0em; font-weight:normal;}


h2 SPAN.productSpecialPrice 	{color:#2b2b2b;font-size:1.1em; line-height:1.2em; font-weight:normal;}
h2 del							{ font-size:15px; line-height:1.2em; font-weight:normal; color:#f3b500; }

.manuf span							{font-weight:bold;}

.prod_img 							{text-align:left;}
.prod_img a 						{display:inline-block;}
.prods_pic_bg						{display:inline-block;}

.prods_content .box-padd					{padding: 2px 0px 0px 0px; background:#2e2e2e;}
/* ************************************************************************************* */
/* ************************************************************************************* */
table.listing 								{margin:0px 0px 4px 0px; width:100%; background:#f2f2f2;}
table.listing td							{padding:1px 15px 1px 15px;
								 			 color:#5a5b5c; font-size:1em; line-height:.9em; }
.prods_content .listing b,							 
.prods_content .listing font				{background:#f2f2f2;}							 

.prods_content .listing b 					{font-weight:normal;}
.prods_content .listing em,
.prods_content .listing font   				{color:#5a5b5c; font-weight:normal;font-size:1em;padding:0px 0px 0px 3px;}
.prods_content .listing b font   			{color:#5a5b5c; padding:0px 3px 0px 0px;}
.prods_content .listing b font a 			{text-decoration:underline;}
.prods_content .listing b font a:hover   	{text-decoration:none}

.prods_content .listing font a 				{color:#5a5b5c; text-decoration:underline; font-weight:normal;font-size:.9em;}
.prods_content .listing font a:hover   		{color:#5a5b5c; text-decoration:none} 
/* ************************************************************************************* */
/* ************************************************************************************* */
.prods_vseparator						{background:url('../images/spacer.gif') 50% 0px repeat-y;}
.prods_vseparator img					{width:10px;}
/*
.padding .prods_hseparator			{background:url('../images/hseparator.gif') 0px 50% repeat-x;}
.padding .prods_hseparator img		{height:10px;}
.prods_hseparator img				{height:10px;}
*/
.cart_hseparator						{background:url('../images/cart_hseparator.gif') 0px 50% repeat-x; display:none;}
.cart_hseparator img					{height:10px;}

.cart 									{border:1px solid #e5e5e5; border-width:1px 1px 1px 1px;}
.cart th								{border:1px solid #e5e5e5; border-width:0px 1px 1px 0px;padding: 10px 0px 10px 0px; text-transform:uppercase; background:#fcfcfc;}

tr .cart_prods,
tr .cart_update,
tr .cart_price							{border:1px solid #e5e5e5; border-width:0px 1px 1px 1px;}
/* ************************************************************************************* */
.cart table td							{padding: 0px 17px 0px 17px;}
.cart_products_options					{width:120px;padding:17px; border:1px solid #d7d7d7;}
.cart_total	td							{font-size:1em; font-weight:bold;
									     text-transform:uppercase;padding:10px; text-align:center; border:1px solid #e5e5e5; border-width:0px 0px 0px 0px;}
.cart_total .bg_button2,
.cart_total .bg_button2-act				{margin-top:0px;}
.or										{padding-top:8px;padding-right: 15px; }									 
									 
.cart_update,
.cart_price								{text-align:center;padding: 0px 0px 10px 0px;}
.cart_price SPAN.productSpecialPrice	{margin:-12px 0px 10px 0px; display:inline-block;}

.cart,
.cart table								{width:100%;}

.cart_total	td							{vertical-align:middle;}
.cart .row > td							{padding-bottom:17px;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.result1_top									{margin:17px 0px 0px 0px;border:0px solid #e5e5e5;}
.result1_bottom									{border-bottom:0px solid #e5e5e5;}

.result2_top									{margin:0px 0px 17px 0px;border:0px solid #e5e5e5;}
.result2_bottom									{border-bottom:0px solid #e5e5e5; }

.result_top_padd div  							{padding:10px 16px 10px 16px;}
.result_bottom_padd div							{padding:10px 16px 10px 16px;}

.result_top_padd								{margin:0px;}
.result_bottom_padd								{margin:0px;}

.wrapper_content-padd.un .result1_top			{margin:20px 26px 20px 26px;}
.wrapper_content-padd.un .result2_top			{margin:20px 26px 20px 26px;}


.result   										{color:#888888; font-size:1em; line-height:1.2em; background:#FFF; }
.result span 		   							{color:#000;}
.result strong   								{font-weight:normal;}
.result small									{font-size:9px}
/* ************************************************************************************* */
.result_un .result1_top							{margin:0px 0px 17px 0px}
.result_un .result2_top							{margin:17px 0px 0px 0px}
/* ************************************************************************************* */
.result_right 									{text-align:right;}
.result_right b									{color:#000; font-weight:normal;}
.result_right a.pageResults						{color:#000; text-decoration:none}
.result_right a.pageResults:hover 				{color:#ff0000; text-decoration:none;}

.result_right a.pageResults.next,
.result_right a.pageResults.next u				{color:#888888;text-decoration:none;}

.result_right a.pageResults.next span,
.result_right a.pageResults.next u span			{color:#000;}

.result_right a.pageResults.next:hover,
.result_right a.pageResults.next:hover u 		{text-decoration:none;}

.result_right a.pageResults.next span:hover,
.result_right a.pageResults.next u span:hover 	{color:#ff0000;text-decoration:underline;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.buttonSet						{padding:17px 0px 0px 0px; overflow:hidden;}
.buttonSet.extra				{padding: 17px 0px 14px 0px;}
.buttonAction					{display:inline-block;width:50%; float:left;padding:0px;margin:0px;}
.contentContainer textarea,
.contentContainer select,
.contentContainer input				{border:1px solid #d9d9d9;background:#fff;padding:1px; color:#706c56; font-size:1em; line-height:1.4em; }
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.ui-state-default											{border:0px; text-transform:none;}
.prods_content .buttonAction .ui-state-default,
.buttonAction .ui-state-default								{border:0px solid #e5e5e5;}/*color: #fff; background: #393939*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.buttonAction .ui-state-default.ui-state-hover 				{border:0px solid #303030;}/*color: #fff; background: #191919*/
.prods_content .ui-state-default,
.ui-state-default											{border:0px solid #303030;} /* background: #191919*/
.ui-state-default.ui-state-hover 							{border:0px solid #e5e5e5;}/*color: #fff; background: #393939*/
.ui-datepicker												{background:#fff; border:1px solid #e5e5e5;}
/* ************************************************************************************* */
.ui-dialog	.ui-dialog-titlebar
.ui-dialog	.ui-dialog-titlebar				{border-top:0px;}
.ui-dialog	.ui-dialog-titlebar span		{color:#fff;}
.ui-dialog	.ui-dialog-titlebar,
.ui-dialog	.contentContainer				{background:#ff0000;}
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
p										{margin-top:0px; margin-bottom:0px;}
.coProgressBar							{float: left; width: 75%; padding-top: 2px; }
#coProgressBar							{height:15px;}
.ui-progressbar							{border:1px solid #e5e5e5;}
.ui-progressbar .ui-progressbar-value	{background:#e5e5e5;}

.moduleRow { }
.moduleRowOver 						{background-color: #f8f8f8; cursor: pointer;}
.moduleRowSelected 					{background-color: #f8f8f8;}

.checkoutBarFrom, .checkoutBarTo 	{color: #696767;font-size: 1em;  }
.checkoutBarCurrent 				{color: #ff0000;font-size: 1em;}

.orderEdit 							{ color: #ff0000; text-decoration:none; }
.orderEdit:hover 					{text-decoration:underline;}

.productsNotifications 				{background: #f9f9f9; }

.accountLinkList li a 			 	{color:#000;}
.accountLinkList li a:hover		 	{color:#807979;}

.inputRequirement 					{color: #ff0000;}
h3 .inputRequirement 				{padding-top: 0px; font-weight:normal; font-size:.8em}

.messageStackError, 
.messageStackWarning				{color:#000;}
.messageStackError img, 
.messageStackWarning img			{float:left;}
/* ************************************************************************************* */
/* ************************************************************************************* */
#piGal ul {
  list-style: none;margin:0px 0px 0px 0px;padding:0px 0px 5px 0px; margin:0px auto 0px auto; float:left;
}
#piGal .outer ul	{ margin:0 auto;}
#piGal li {
	border:1px solid #E5E5E5;
}
#piGal li {
	border:1px solid #E5E5E5;
	vertical-align:top;
	height: auto;
    margin: 0;
}
#piGal li a	{
	display:block;
}
#piGal ul.thumbs	{
	padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;overflow:hidden;

}
#piGal ul.thumbs li	{
	margin:10px 5px 0px 0px;
	border:1px solid #E5E5E5; overflow:hidden;
}
#piGal ul.thumbs li:hover	{
	border:1px solid #999;
}
#piGal .outer {
  overflow:hidden; background:#fff;padding:0px 0px 5px 0px; margin-right:0px;
}
.wrapper_pic_div.border-img{border:1px solid #E5E5E5;}
/* ************************************************************************************* */
.prods_info .options ul			{padding:0px;margin: 0px 0px 0px -20px; list-style:none;}
.prods_info .options ul	li		{float:left; padding: 0px 0px 10px 20px;}
.prods_info .options label		{float:left; margin-top:3px;}
.prods_info .options select		{margin: 0px 0px 0px 10px; width:160px; float:left;}
.prods_info .options			{padding:20px 0px 10px 0px; border:1px solid #e5e5e5; border-width:1px 0px 0px 0px; margin-top:10px;}
.prods_info .options br			{line-height:10px;}
.prods_info .options-title		{color:#000;font-size:1.1em; font-weight:bold;
								 padding: 0px 0px 10px 0px;}

.prods_info .desc_padd			{padding: 17px 0px 17px 0px; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; }

.prods_info .data_padd			{padding:0px 0px 17px 0px;vertical-align:middle; text-align:left; border-bottom:1px solid #e5e5e5;}
.prods_info .desc_padd.add		{border-bottom:0px solid #e5e5e5; }
								 
.prods_info .data_add			{padding: 0px 0px 17px 0px;}



.prods_info .desc2_padd					{padding: 10px 0px 10px 0px; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; border-top:1px solid #e5e5e5; }

h2.price								{padding: 6px 0px 14px 0px; overflow:hidden;}

.prods_info .stars_padd					{padding: 14px 0px 22px 0px;display:block;}
.prods_info .stars_padd	img				{margin: 0px 5px -5px 5px;}

.prods_info .contentInfoText 
.stars_padd								{border-top:1px solid #e5e5e5;}

.prods_info .desc						{font-size:1.1em; line-height:1.3em;}

.prods_info  h3,
.data									{font-size:.9em; font-weight:normal;}
.data span								{ color:#000}
.prods_info .data p						{ }
.prods_info h3 a						{font-weight:bold; display:inline-block; margin-right:10px;}

.prods_info .data b						{color:#000; display:inline-block; margin-right:10px;}

.prods_info .stars 						{ color:#888888;}

.prods_info h3 span,
.prods_info .stars span,
.prods_info .data span					{color:#000; font-weight:normal;}

.prods_info .contentInfoText br			{line-height:1.2em;}

.border_bottom					{border-bottom:1px solid #f6f6f6;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.small_title				{color:#000;}								 
/* ************************************************************************************* */
/* ************************************************************************************* */
.upcoming td				{padding: 5px 5px 5px 5px;}
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.button__padd span.ui-button-icon-primary 				{display:none;} /**/
button										{height:29px; font-size:12px; line-height:15px !important; font-family:Arial, Helvetica, sans-serif; font-weight:bold;}									
.bg_button2{ margin-right:3px;}
.bg_button2-act{ margin-right:3px;}
.bg_button2 a,
.bg_button2-act a,
.bg_button22 a,
.bg_button22-act a							{ font-weight:bold; color:#fff;}
.bg_button2  span{ color:#FFF;}
.bg_button22-act span { color:#FFF!important;}
.bg_button2  span,
.bg_button2-act  span,
.bg_button22  span,
.bg_button22-act  span				{font-size:12px; line-height:15px;}

.prods_content .bg_button2 a,
.prods_content .bg_button2-act a,
.prods_content .bg_button22 a,
.prods_content .bg_button22-act a			{}

.prods_content a.bg_button2-act,
.prods_content a.bg_button22-act			{text-decoration:none;}

.bg_button2,
.bg_button22,
.bg_button2-act,
.bg_button22-act,
.bg_button2 div,
.bg_button22 div,
.bg_button2-act div, 
.bg_button22-act div						{display:inline-block; cursor:pointer; overflow:hidden;}
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.bg_button22 .button-c					 {background:url('../images/button_c.gif') repeat-x  0 0; margin:0 5px}
.bg_button22 .button-r						{background:url('../images/button_r.png') 100% 0px repeat-y transparent;}
.bg_button22 .button-l						{background:url('../images/button_l.png') 0px 0px repeat-y transparent; }
/* ************************************************************************************* */
.bg_button22 .button-padd					{padding:0; overflow:hidden; height:31px;}

.bg_button22 .button-padd span					{color:#2a2929; font-size:13px;text-decoration:none; white-space:nowrap; line-height:1.6em;}											 
/* ************************************************************************************* */
/* ************************************************************************************* */
.bg_button22-act .button-c					{background:url('../images/button_c-act.gif') 0px 0px repeat-x;margin:0 5px }
.bg_button22-act .button-r					{background:url('../images/button_r-act.png') 100% 0px repeat-y transparent;}
.bg_button22-act .button-l					{background:url('../images/button_l-act.png') 0px 0px repeat-y transparent;}
/* ************************************************************************************* */
.bg_button22-act .button-padd				{padding:0; overflow:hidden;height:31px;}


.bg_button22-act .button-padd span				{color:#2a2929; font-size:13px;text-decoration:none; white-space:nowrap; line-height:1.6em;}											 
/* ************************************************************************************* */	
/* ************************************************************************************* */

/* ************************************************************************************* */										 
/* ************************************************************************************* */
.bg_button2 a{ color:#FFF;}
.bg_button22 a{ color:#2a2929;}
.bg_button2-act a{ color:#2a2929;}
.bg_button22-act a{ color:#FFF;}
.contentPadd.block .bg_button2-act a{ color:#2a2929!iumportant;}
.bg_button22 .button-t {
background:url('../images/button_t.gif') repeat-x  0 0 transparent;
}

.bg_button2 .button-c						{background:url('../images/button_c-act.gif') 0px 0px repeat-x;margin:0 5px}
.bg_button2 .button-r						{background:url('../images/button_r-act.png') 100% 0px repeat-y transparent;}
.bg_button2 .button-l						{background:url('../images/button_l-act.png') 0px 0px repeat-y transparent;}
/* ************************************************************************************* */
.bg_button2 .button-padd					{padding:0; overflow:hidden;height:32px;}


.bg_button2 .button-padd span					{color:#fff; font-size:12px;text-decoration:none; white-space:nowrap;line-height:1.6em; }
/* ************************************************************************************* */
/* ************************************************************************************* */
.bg_button2-act .button-c					 {background:url('../images/button_c.gif') repeat-x  0 0; margin:0 5px}
.bg_button2-act .button-r					{background:url('../images/button_r.png') 100% 0px repeat-y transparent;}
.bg_button2-act .button-l					{background:url('../images/button_l.png') 0px 0px repeat-y transparent;}
/* ************************************************************************************* */
.bg_button2-act .button-padd				{padding:0; overflow:hidden;height:32px;}

.bg_button2-act .button-padd span				{color:#fff; font-size:12px;text-decoration:none; white-space:nowrap; line-height:1.6em; }
/* ************************************************************************************* */
.wrapper				{padding: 10px 5px 10px 5px;}
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.title-t						{background:#f2f2f2; margin-bottom:0px; background:url('../images/title.jpg') left top  repeat-x #1f1e1e;}
/* ************************************************************************************* */	
/* ************************************************************************************* */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-widget-header .ui-state-hover {color: #000;}
.ui-widget-header				{background:transparent;}
/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url('../images/ui-icons_000000_256x240.png'); }
.ui-widget-content .ui-icon {background-image: url('../images/ui-icons_cd0a0a_256x240.png'); }
.ui-widget-header .ui-icon {background-image: url('../images/ui-icons_000000_256x240.png'); }
.ui-state-default .ui-icon { background-image: url('../images/ui-icons_ffffff_256x240.png');}
.bg_button22 .ui-state-default .ui-icon		 { background-image: url('../images/ui-icons_000000_256x240.png');}
.bg_button22-act .ui-state-default .ui-icon  { background-image: url('../images/ui-icons_ffffff_256x240.png');}
.bg_button2 .ui-state-default .ui-icon		 { background-image: url('../images/ui-icons_ffffff_256x240.png');}
.bg_button2-act .ui-state-default .ui-icon  { background-image: url('../images/ui-icons_000000_256x240.png');}
.ui-state-hover .ui-icon{background-image: url('../images/ui-icons_ffffff_256x240.png');}
.ui-state-focus .ui-icon {background-image: url('../images/ui-icons_ffffff_256x240.png'); }
.ui-state-active .ui-icon {background-image: url('../images/ui-icons_ffffff_256x240.png');}
.ui-state-highlight .ui-icon {background-image: url('../images/ui-icons_ffffff_256x240.png'); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url('../images/ui-icons_cd0a0a_256x240.png'); }

.ui-datepicker .ui-state-hover .ui-icon{background-image: url('../images/ui-icons_817a7a_256x240.png');}

.marg-bottom .bg_button22 .ui-state-default .ui-icon		 { background-image: url('../images/ui-icons_000000_256x240.png');}
.marg-bottom .bg_button22-act .ui-state-default .ui-icon  { background-image: url('../images/ui-icons_ffffff_256x240.png');}
.marg-bottom .ui-button-text{color:#2a2929;}
.marg-bottom .bg_button22-act a{ color:#FFF;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.button__padd .ui-button-text-icon-primary .ui-button-text, .button__padd .ui-button-text-icons .ui-button-text { padding: 6px 4px 8px 4px; }
.button__padd .ui-button-text-icon-secondary .ui-button-text, .button__padd .ui-button-text-icons .ui-button-text {padding: 6px 4px 8px 4px; }

.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: 6px 5px 8px 23px; }
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text {padding: 6px 5px 8px 23px; }

.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: .1em; }

.bg_button2-act .ui-button-text-icon-primary .ui-button-icon-primary, .bg_button2-act .ui-button-text-icons .ui-button-icon-primary, .bg_button2-act .ui-button-icons-only .ui-button-icon-primary, 
.bg_button2 .ui-button-text-icon-primary .ui-button-icon-primary, .bg_button2 .ui-button-text-icons .ui-button-icon-primary, .bg_button2 .ui-button-icons-only .ui-button-icon-primary { left: .3em; }
/* ************************************************************************************* */	
/* ************************************************************************************* */
.accountLinkList li:hover span {background-image: url('../images/ui-icons_817a7a_256x240.png');}
										
/* ************************************************************************************* */
/* ************************************************************************************* */
.decks ol, .decks li 			{margin:0;padding:0;}
.decks 					{width:100%;margin:0 auto;list-style-type:none;}
.forecastle 					{display:table; width:100%;}
.masthead 					{display:table-row;}
.prods_info li.port_side, .prods_info li.starboard_side,
.prods_content li.port_side, .prods_content li.starboard_side			 	{display:table-cell;vertical-align:top;}

.prods_info li.port_side, .prods_info li.starboard_side,
.prods_content li.port_side, .prods_content li.starboard_side,  	{display:inline;zoom:1;vertical-align:top;}

.prods_info li.port_side,
.prods_content li.port_side 		{width:34.5%; }

.prods_info li.starboard_side,
.prods_content li.starboard_side 	{width:65%;}
.masthead li{ border:0; background:none;}
.info					{padding: 0px 0px 0px 17px;}
.info2					{padding: 0px 0px 0px 5px;}
/* ************************************************************************************* */
/**//*/
.port_side,.starboard_side,.s3 {display:inline-block;float:left;}
.ft {clear:left;}
/**/
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.wrapper_pic_tl,
.wrapper_pic_tr,
.wrapper_pic_bl,
.wrapper_pic_br				{background:url(../images/wrapper_pic.png) no-repeat;}

#row-1 .wrapper_pic_tl,
#row-1 .wrapper_pic_tr,
#row-1 .wrapper_pic_bl,
#row-1 .wrapper_pic_br				{background:url(../images/wrapper_pic.png) no-repeat;}




#row-1 .wrapper_pic_tl				{background-position:0px 0px;display:inline-block;position:relative;}
#row-1 .wrapper_pic_tr				{background-position:100% 0px;display:inline-block;position:relative;}
#row-1 .wrapper_pic_bl				{background-position:0px 100%;display:inline-block;position:relative;}
#row-1 .wrapper_pic_br				{background-position:100% 100%;display:inline-block;position:relative;}
#row-1 .wrapper_pic_tl:hover				{background-position:0px 0px;display:inline-block;position:relative;}
#row-1 .wrapper_pic_tr:hover				{background-position:100% 0px;display:inline-block;position:relative;}
#row-1 .wrapper_pic_bl:hover				{background-position:0px 100%;display:inline-block;position:relative;}
#row-1 .wrapper_pic_br:hover				{background-position:100% 100%;display:inline-block;position:relative;}


.wrapper_pic_tl				{background-position:0px 0px;display:inline-block;position:relative;}
.wrapper_pic_tr				{background-position:100% 0px;display:inline-block;position:relative;}
.wrapper_pic_bl				{background-position:0px 100%;display:inline-block;position:relative;}
.wrapper_pic_br				{background-position:100% 100%;display:inline-block;position:relative;}
.wrapper_pic_tl:hover				{background-position:0px 0px;display:inline-block;position:relative;}
.wrapper_pic_tr:hover				{background-position:100% 0px;display:inline-block;position:relative;}
.wrapper_pic_bl:hover				{background-position:0px 100%;display:inline-block;position:relative;}
.wrapper_pic_br:hover				{background-position:100% 100%;display:inline-block;position:relative;}


.wrapper_pic_div			{margin:auto; border:0px solid #e3e3e3; position:relative; display:block;}
.wrapper_pic_div a			{padding:0; cursor:pointer; text-decoration:none;}
.wrapper_pic_div img		{position:absolute;margin:0px;}
/* ************************************************************************************* */
.class_table				{margin: 17px 0px 0px 0px;}
.wrapper_box 				{padding:0px;}
.ui-dialog .ui-button-text{ color:#000;}
.prods_content.cart{ background:#FFF;}
.contentPadd.rew{ background:#FFF; padding:10px;}
.contentPadd.rew2 { background:#FFF;}
.contentPadd.rew2 .buttonSet{ padding-left:10px; padding-right:10px; padding-bottom:20px;}
.sub_categories .prods_content .name_padd {
padding:13px 0px 10px 0px;
text-align:left;
vertical-align:top;
}
.main-2 .main #bodyWrapper #columnLeft div .infoBoxWrapper.list .infoBoxContents .categories table tr td div #src330368029633 {
	color: #FFF;
}
.main-2 .main #bodyWrapper #columnLeft div .infoBoxWrapper.list .infoBoxContents .categories table tr td div table tbody tr td img {
	background-color: #FFF;
}
.main-2 .main #bodyWrapper #bodyContent .contentContainer.page_un .js .contentContainer.page_un .contentPadd.block .prods_content.prods_info.decks .forecastle table tr td table tbody tr td table tbody tr td p a strong {
	color: #B11815;
}
.main-2 .main #bodyWrapper #bodyContent .contentContainer.page_un .js .contentContainer.page_un .contentPadd.block .prods_content.prods_info.decks .forecastle table tr td table tbody tr td table tbody tr td div strong a font {
	color: #B41A16;
}
.main-2 .main #bodyWrapper #bodyContent .contentContainer.page_un .js .contentContainer.page_un .contentPadd.block .prods_content.prods_info.decks .forecastle table tr td table tbody tr td table tbody tr td a {
	color: #AF1713;
}
.main-2 .main #bodyWrapper #bodyContent .contentContainer.page_un .js .contentContainer.page_un .contentPadd.block .prods_content.prods_info.decks .forecastle table tr td table tbody tr td p strong em {
	color: #F00;
}
.pagewidth .pageminwidth .pagelayout .pagecontainer table tbody tr td table tbody tr td table tbody tr #CentralArea div .r3.c.gy-br tr .r3_c .r3_cm.bp.tp #v4-66 #v4-68 #v4-83 #v4-84 .grid {
	background-color: #FFF;
}
.pagewidth .pageminwidth .pagelayout .pagecontainer table tbody tr td table tbody tr td table tbody tr #CentralArea div .r3.c.gy-br {
	background-color: #FFF;
}
.pagewidth .pageminwidth .pagelayout .pagecontainer table tbody tr td table tbody tr td table tbody tr #CentralArea div .r3.c.gy-br tr .r3_c .r3_cm.bp.tp #v4-66 #v4-68 #v4-83 #v4-84 .grid tr .gallery.left .gallery tr .details div .fixed tr td .bin.g-b {
	font-size: 24px;
	font-weight: bold;
	color: #000;
}
.pagewidth .pageminwidth .pagelayout .pagecontainer table tbody tr td table tbody tr td table tbody tr #CentralArea div .r3.c.gy-br tr .r3_c .r3_cm.bp.tp #v4-66 #v4-68 #v4-83 #v4-84 .grid tr .gallery .gallery tr .details div .fixed {
	width: 100%;
}
.pagewidth .pageminwidth .pagelayout .pagecontainer table tbody tr td table tbody tr #LeftPanel .v4acpcont tr td .v4midBox.v4wfc .v4acp_mid .v4mid .v4ilist.v4ilisttb tr td .gallery {
	background-color: #FFF;
}
.pagewidth .pageminwidth .pagelayout .pagecontainer table tbody tr td table tbody tr #LeftPanel .v4acpcont tr td .v4midBox.v4nfc .v4acp_mid .v4mid .v4ilist.v4ilisttb {
	background-color: #FFF;
}
.pagewidth .pageminwidth .pagelayout .pagecontainer table tbody tr td table tbody tr #LeftPanel .v4acpcont tr td .v4midBox.v4wfc .v4acp_mid .v4mid .v4ilist.v4ilisttb tr td .gallery tr .details div .fixed tr td .bin.g-b {
	font-weight: bold;
	color: #1A1A1A;
}
.pagewidth .pageminwidth .pagelayout .pagecontainer table tbody tr td table tbody tr #LeftPanel .v4acpcont tr td .v4midBox.v4wfc .v4acp_mid .v4mid .v4ilist.v4ilisttb tr td .gallery tr .details div .fixed tr td .bin.g-b {
	font-size: 24px;
}
.pagewidth .pageminwidth .pagelayout .pagecontainer table tbody tr td table tbody tr #LeftPanel .v4acpcont tr td .v4midBox.v4nfc .v4acp_mid .v4mid .v4ilist.v4ilisttb {
	background-color: #FFF;
}
.pagewidth .pageminwidth .pagelayout .pagecontainer table tbody tr td table tbody tr #LeftPanel .v4acpcont tr td .v4midBox.v4nfc {
	background-color: #FFF;
}






.main-2 .main #bodyWrapper #bodyContent .contentContainer.page_un .js .contentContainer.page_un .contentPadd.block .prods_content.prods_info.decks .forecastle table tr td table tbody tr td p strong a {
	color: #900;
}

.infoBoxWrapper.list .infoBoxContents .categories li {
	background-image: url(../images/red.png);
	background-repeat: no-repeat
}
#storebody {
	position:absolute;
	width:100%;
	height:115px;
	z-index:1;
	left:0;
	top:234px
}

#aboutusbody {
	position:absolute;
	width:100%;
	height:115px;
	z-index:1;
	left:0;
	top:270px;

	
}






#glbfooter {
	display: none;
}
.stBadge {
	display: none;
}

.storeLftNavTd {
	display: none;
}

.forecastle table tr td table tr td div ul li {
	
	list-style-type: disc;
}
